.user-header {
    padding: 1.4rem;
    border-bottom:2px solid #f0eff5;

    .username {
        font-size: 18px;
        font-weight: 500;
    }
}

.actions * {
    font-size: 20px;
    color: #8a878e;
    font-weight: 100;
}